{# empty Twig template #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NYshop online Shopping </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link id="callCss" rel="stylesheet" href="{{asset('bundles/acmedemo/css/bootstrappp.min.css')}}" media="screen"/>
    <link href="{{asset('bundles/acmedemo/themes/css/base.css')}}" rel="stylesheet" media="screen"/>
<!-- Bootstrap style responsive -->	
	<link href="{{asset('bundles/acmedemo/css/bootstrap-responsive.min.css')}}" rel="stylesheet"/>

             <link rel="stylesheet"  href="{{ asset('bundles/acmedemo/css/lnk.css') }}" type="text/css" />

  </head>
<body>
<div id="header">
<div class="container">

	</div>
</div>
<!-- Navbar ================================================== -->
<div id="logoArea" class="navbar" style="background-color: black">
	

    
   <img  style="height: 60px;width: 190px;margin-top: 3px;margin-left: 12px"  src="{{ asset('bundles/acmedemo/images/Laposte.jpg')}}" alt="NYshop"/>
		
    
	
		
  </div>

<!-- Header End====================================================================== -->
<div id="carouselBlk">
	
</div>
<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
<br> <br>  <br>
<br> <br>  <br>

	<div id="sidebar" class="span3">
                    

                
            <
			
	</div>
<!-- Sidebar end=============================================== -->

		<div class="span9">		
			
			<div class="row-fluid">
			  <div class="item active">
			  </div>
			   
			   <div class="item" style=" width: 920px;background-color: black;height: 350px;margin-left:1135 ">
			 <br> <ul class="thumbnails" >
				
				<li class="span3" style="width: 250px">
				  <div class="thumbnail">
					<a href="cnx"><img style="height: 190px" src="{{ asset('bundles/acmedemo/images/businessman-279x300.jpg')}}" alt=""></a>
					<div class="caption">
					  
                                            <center>	  <h4><a  href="cnx">ADMINISTRATEUR</a> </h4>   </center>
					</div>
				  </div>
				</li>
				<li class="span3" style="width: 250px">
				  <div class="thumbnail" >
					<a href="accueil"><img style="height: 190px" src="{{ asset('bundles/acmedemo/images/images (2).jpg')}}" alt=""></a>
					<div class="caption">
					
                                            <center>	   <h4><a  href="accueil">CLIENT</a> </center>
					</div>
				  </div>
				</li>
				<li class="span3" style="width: 250px">
				  <div class="thumbnail" >
					<a href="inscrit"><img style="height: 190px" src="{{ asset('bundles/acmedemo/images/3D_bonhomme-tablette.jpg')}}" alt=""></a>
					<div class="caption">
					
                                            <center>	   <h4><a  href="inscrit">FOURNISSEUR</a> </center>
					</div>
				  </div>
				</li>
			  </ul>
			  </div>
			  </div>
			  
			  </div>
			  </div>
				
			  </div>
			  </div>
	
<br> <br>  <br>
<br> <br>  <br>


<!-- Footer ================================================================== -->
	   
           <footer class="row" style="background-color: black;height: 100px" >
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
                    
              <p class="pull-right" style="color: whitesmoke;font-size: 30px;margin-right: 18px">&copy;NYshop</p>
                </div>    
            </footer>  <!-- .row -->    

			
</body>
</html>{# empty Twig template #}
